In [1]:
import pandas as pd

# Train data

In [2]:
columns = ['train', 'class']
rows = []
rows = [['president-nod-for-lokpal-bill', 'India'], 
 ['india-scraps-vvip-chopper-deal-with-agusta-westland', 'India'],
 ['mdmk-to-be-part-of-bjp-led-nda', 'India'],
 ['ex-envoy-hardeep-puri-joins-bjp', 'India'],
 ['modi-to-address-rally-in-panaji', 'India'],
 ['church-not-against-modi-bishop', 'India'],
 ['aap-government-wins-confidence-vote', 'India'],
 ['aap-retains-jhaadu-as-its-symbol', 'India'],
 ['modi-accepts-ramdevs-terms-for-support', 'India'],
 ['violence-mars-poll-in-bangladesh', 'Bangladesh'],
 ['sheikh-hasina-set-to-form-govt-again', 'Bangladesh'],
 ['four-killed-in-postpoll-violence-in-bangladesh', 'Bangladesh'],
 ['maldives-president-coming-today', 'Others'],
 ['bhutan-king-arrives-on-5-day-visit', 'Others'],
 ['seemandhra-bandh-hits-ap-tn', 'India']]

In [3]:
training_data = pd.DataFrame(rows, columns=columns)
training_data

                                                train       class
0                       president-nod-for-lokpal-bill       India
1   india-scraps-vvip-chopper-deal-with-agusta-wes...       India
2                      mdmk-to-be-part-of-bjp-led-nda       India
3                     ex-envoy-hardeep-puri-joins-bjp       India
4                     modi-to-address-rally-in-panaji       India
5                      church-not-against-modi-bishop       India
6                 aap-government-wins-confidence-vote       India
7                    aap-retains-jhaadu-as-its-symbol       India
8              modi-accepts-ramdevs-terms-for-support       India
9                    violence-mars-poll-in-bangladesh  Bangladesh
10               sheikh-hasina-set-to-form-govt-again  Bangladesh
11     four-killed-in-postpoll-violence-in-bangladesh  Bangladesh
12                    maldives-president-coming-today      Others
13                 bhutan-king-arrives-on-5-day-visit      Others
14                        seemandhra-bandh-hits-ap-tn       India

In [4]:
p_india = 10 / 15
p_bangladesh = 3 / 15
p_others = 2 / 15

In [5]:
from sklearn.feature_extraction.text import CountVectorizer

### For India Class

In [6]:
India_docs = [row['train'] for index,row in training_data.iterrows() if row['class'] == 'India']
vec_i = CountVectorizer()
X_i = vec_i.fit_transform(India_docs)
freq_wi = pd.DataFrame(X_i.toarray(), columns=vec_i.get_feature_names())
freq_wi

,aap,accepts,address,against,agusta,ap,as,bandh,be,bill,...,support,symbol,terms,tn,to,vote,vvip,westland,wins,with
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,1
2,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
5,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
7,1,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
8,0,1,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
9,0,0,0,0,0,1,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0

### For Bangladesh Class

In [7]:
Bangladesh_docs = [row['train'] for index,row in training_data.iterrows() if row['class'] == 'Bangladesh']
vec_b = CountVectorizer()
X_b = vec_b.fit_transform(Bangladesh_docs)
freq_wb = pd.DataFrame(X_b.toarray(), columns=vec_b.get_feature_names())
freq_wb

,again,bangladesh,form,four,govt,hasina,in,killed,mars,poll,postpoll,set,sheikh,to,violence
0,0,1,0,0,0,0,1,0,1,1,0,0,0,0,1
1,1,0,1,0,1,1,0,0,0,0,0,1,1,1,0
2,0,1,0,1,0,0,2,1,0,0,1,0,0,0,1

### For Other Class

In [8]:
Others_docs = [row['train'] for index,row in training_data.iterrows() if row['class'] == 'Others']
vec_o = CountVectorizer()
X_o = vec_o.fit_transform(Others_docs)
freq_wo = pd.DataFrame(X_o.toarray(), columns=vec_o.get_feature_names())
freq_wo

   arrives  bhutan  coming  day  king  maldives  on  president  today  visit
0        0       0       1    0     0         1   0          1      1      0
1        1       1       0    1     1         0   1          0      0      1

## Frequency of words in:

### India class

In [9]:
word_list_i = vec_i.get_feature_names(); 
count_list_i = X_i.toarray().sum(axis=0) 
freq_i = dict(zip(word_list_i,count_list_i))
print(freq_i)

{'aap': 2, 'accepts': 1, 'address': 1, 'against': 1, 'agusta': 1, 'ap': 1, 'as': 1, 'bandh': 1, 'be': 1, 'bill': 1, 'bishop': 1, 'bjp': 2, 'chopper': 1, 'church': 1, 'confidence': 1, 'deal': 1, 'envoy': 1, 'ex': 1, 'for': 2, 'government': 1, 'hardeep': 1, 'hits': 1, 'in': 1, 'india': 1, 'its': 1, 'jhaadu': 1, 'joins': 1, 'led': 1, 'lokpal': 1, 'mdmk': 1, 'modi': 3, 'nda': 1, 'nod': 1, 'not': 1, 'of': 1, 'panaji': 1, 'part': 1, 'president': 1, 'puri': 1, 'rally': 1, 'ramdevs': 1, 'retains': 1, 'scraps': 1, 'seemandhra': 1, 'support': 1, 'symbol': 1, 'terms': 1, 'tn': 1, 'to': 2, 'vote': 1, 'vvip': 1, 'westland': 1, 'wins': 1, 'with': 1}

### Bangladesh Class

In [10]:
word_list_b = vec_b.get_feature_names(); 
count_list_b = X_b.toarray().sum(axis=0) 
freq_b = dict(zip(word_list_b,count_list_b))
print(freq_b)

{'again': 1, 'bangladesh': 2, 'form': 1, 'four': 1, 'govt': 1, 'hasina': 1, 'in': 3, 'killed': 1, 'mars': 1, 'poll': 1, 'postpoll': 1, 'set': 1, 'sheikh': 1, 'to': 1, 'violence': 2}

### Other Class

In [11]:
word_list_o= vec_o.get_feature_names(); 
count_list_o = X_o.toarray().sum(axis=0) 
freq_o = dict(zip(word_list_o,count_list_o))
print(freq_o)

{'arrives': 1, 'bhutan': 1, 'coming': 1, 'day': 1, 'king': 1, 'maldives': 1, 'on': 1, 'president': 1, 'today': 1, 'visit': 1}

In [12]:
docs = [row['train'] for index,row in training_data.iterrows()]
vec = CountVectorizer()
X = vec.fit_transform(docs)
total_features = len(vec.get_feature_names())
total_features

76

In [13]:
#To find, ‘total count of all features in a class ’,
total_cnts_features_i = count_list_i.sum(axis=0)
total_cnts_features_b = count_list_b.sum(axis=0)
total_cnts_features_o = count_list_o.sum(axis=0)

## Probablity of words according to Laplacian correction model in:

### India class

In [14]:
prob_wi_i=[]
for word,count in zip(word_list_i,count_list_i):
    prob_wi_i.append((count + 1) / (total_cnts_features_i + total_features))
print(dict(zip(word_list_i,prob_wi_i)))

{'aap': 0.022058823529411766, 'accepts': 0.014705882352941176, 'address': 0.014705882352941176, 'against': 0.014705882352941176, 'agusta': 0.014705882352941176, 'ap': 0.014705882352941176, 'as': 0.014705882352941176, 'bandh': 0.014705882352941176, 'be': 0.014705882352941176, 'bill': 0.014705882352941176, 'bishop': 0.014705882352941176, 'bjp': 0.022058823529411766, 'chopper': 0.014705882352941176, 'church': 0.014705882352941176, 'confidence': 0.014705882352941176, 'deal': 0.014705882352941176, 'envoy': 0.014705882352941176, 'ex': 0.014705882352941176, 'for': 0.022058823529411766, 'government': 0.014705882352941176, 'hardeep': 0.014705882352941176, 'hits': 0.014705882352941176, 'in': 0.014705882352941176, 'india': 0.014705882352941176, 'its': 0.014705882352941176, 'jhaadu': 0.014705882352941176, 'joins': 0.014705882352941176, 'led': 0.014705882352941176, 'lokpal': 0.014705882352941176, 'mdmk': 0.014705882352941176, 'modi': 0.029411764705882353, 'nda': 0.014705882352941176, 'nod': 0.014705882352941176, 'not': 0.014705882352941176, 'of': 0.014705882352941176, 'panaji': 0.014705882352941176, 'part': 0.014705882352941176, 'president': 0.014705882352941176, 'puri': 0.014705882352941176, 'rally': 0.014705882352941176, 'ramdevs': 0.014705882352941176, 'retains': 0.014705882352941176, 'scraps': 0.014705882352941176, 'seemandhra': 0.014705882352941176, 'support': 0.014705882352941176, 'symbol': 0.014705882352941176, 'terms': 0.014705882352941176, 'tn': 0.014705882352941176, 'to': 0.022058823529411766, 'vote': 0.014705882352941176, 'vvip': 0.014705882352941176, 'westland': 0.014705882352941176, 'wins': 0.014705882352941176, 'with': 0.014705882352941176}

### Bangladesh Class

In [15]:
prob_wb_b=[]
for word,count in zip(word_list_b,count_list_b):
    prob_wb_b.append((count + 1) / (total_cnts_features_b + total_features))
print(dict(zip(word_list_b,prob_wb_b)))

{'again': 0.021052631578947368, 'bangladesh': 0.031578947368421054, 'form': 0.021052631578947368, 'four': 0.021052631578947368, 'govt': 0.021052631578947368, 'hasina': 0.021052631578947368, 'in': 0.042105263157894736, 'killed': 0.021052631578947368, 'mars': 0.021052631578947368, 'poll': 0.021052631578947368, 'postpoll': 0.021052631578947368, 'set': 0.021052631578947368, 'sheikh': 0.021052631578947368, 'to': 0.021052631578947368, 'violence': 0.031578947368421054}

### Other Class

In [16]:
prob_wo_o=[]
for word,count in zip(word_list_o,count_list_o):
    prob_wo_o.append((count + 1) / (total_cnts_features_i + total_features))
print(dict(zip(word_list_o,prob_wo_o)))

{'arrives': 0.014705882352941176, 'bhutan': 0.014705882352941176, 'coming': 0.014705882352941176, 'day': 0.014705882352941176, 'king': 0.014705882352941176, 'maldives': 0.014705882352941176, 'on': 0.014705882352941176, 'president': 0.014705882352941176, 'today': 0.014705882352941176, 'visit': 0.014705882352941176}

# Test data

In [17]:
from nltk.tokenize import word_tokenize

column1 = ['test']

test1 = 'sheikh-hasina-keeps-home-foreign-affairs-defence-portfolios'
rows1 = word_tokenize(test1)
test2 = 'hasina-ready-to-protect-democracy'
rows2 = word_tokenize(test2)
test3 = 'agusta-gets-stay-on-india-encashing-bank-guarantee'
rows3 = word_tokenize(test3)
test4 = 'modi-nervous-over-aaps-emergence-congress'
rows4 = word_tokenize(test4)
test5 = 'united-ap-supporters-burn-copies-of-draft-tbill'
rows5 = word_tokenize(test5)
test6 = 'seemandhra-mps-ignore-aicc-team'
rows6 = word_tokenize(test6)
test7 = 'sena-slams-devyanis-father-for-terming-media-casteist'
rows7 = word_tokenize(test7)
test8 = 'evangelist-benny-hinns-bangalore-visit-cancelled'
rows8 = word_tokenize(test8)
test9 = 'mallika-sarabhai-joins-aap'
rows9 = word_tokenize(test9)
test10 = 'devyani-khobragade-leaves-for-india-mea'
rows10 = word_tokenize(test10)
test11 = 'deeply-regret-that-india-expelled-our-diplomat-us'
rows11 = word_tokenize(test11)
test12 = 'milkha-singhs-wife-daughter-join-aap'
rows12 = word_tokenize(test12)
test13 = 'baba-ramdev-to-begin-vote-for-modi-yatra'
rows13 = word_tokenize(test13)
test14 = 'bhutan-king-arrives-on-5-day-visit'
rows14 = word_tokenize(test14)
test15 = 'bjp-launches-drive-for-donations-to-modi-for-pm-fund'
rows15 = word_tokenize(test15)

In [18]:
testing_data1 = pd.DataFrame(rows1, columns=column1)
testing_data2 = pd.DataFrame(rows2, columns=column1)
testing_data3 = pd.DataFrame(rows3, columns=column1)
testing_data4 = pd.DataFrame(rows4, columns=column1)
testing_data5 = pd.DataFrame(rows5, columns=column1)
testing_data6 = pd.DataFrame(rows6, columns=column1)
testing_data7 = pd.DataFrame(rows7, columns=column1)
testing_data8 = pd.DataFrame(rows8, columns=column1)
testing_data9 = pd.DataFrame(rows9, columns=column1)
testing_data10 = pd.DataFrame(rows10, columns=column1)
testing_data11 = pd.DataFrame(rows11, columns=column1)
testing_data12 = pd.DataFrame(rows12, columns=column1)
testing_data13 = pd.DataFrame(rows13, columns=column1)
testing_data14 = pd.DataFrame(rows14, columns=column1)
testing_data15 = pd.DataFrame(rows15, columns=column1)

In [19]:
testing_data1

                                                test
0  sheikh-hasina-keeps-home-foreign-affairs-defen...

In [20]:
Docs = [row['test'] for index,row in testing_data1.iterrows()]
vec_w = CountVectorizer()
X_w = vec_w.fit_transform(Docs)
freq_tw1 = pd.DataFrame(X_w.toarray(), columns=vec_w.get_feature_names())
freq_tw1

   affairs  defence  foreign  hasina  home  keeps  portfolios  sheikh
0        1        1        1       1     1      1           1       1

In [21]:
testing_data2

                                test
0  hasina-ready-to-protect-democracy

In [22]:
Docs = [row['test'] for index,row in testing_data2.iterrows()]
vec_w = CountVectorizer()
X_w = vec_w.fit_transform(Docs)
freq_tw2 = pd.DataFrame(X_w.toarray(), columns=vec_w.get_feature_names())
freq_tw2

   democracy  hasina  protect  ready  to
0          1       1        1      1   1

In [23]:
testing_data3

                                                test
0  agusta-gets-stay-on-india-encashing-bank-guara...

In [24]:
Docs = [row['test'] for index,row in testing_data3.iterrows()]
vec_w = CountVectorizer()
X_w = vec_w.fit_transform(Docs)
freq_tw3 = pd.DataFrame(X_w.toarray(), columns=vec_w.get_feature_names())
freq_tw3

   agusta  bank  encashing  gets  guarantee  india  on  stay
0       1     1          1     1          1      1   1     1

In [25]:
testing_data4

                                        test
0  modi-nervous-over-aaps-emergence-congress

In [26]:
Docs = [row['test'] for index,row in testing_data4.iterrows()]
vec_w = CountVectorizer()
X_w = vec_w.fit_transform(Docs)
freq_tw4 = pd.DataFrame(X_w.toarray(), columns=vec_w.get_feature_names())
freq_tw4

   aaps  congress  emergence  modi  nervous  over
0     1         1          1     1        1     1

In [27]:
testing_data5

                                              test
0  united-ap-supporters-burn-copies-of-draft-tbill

In [28]:
Docs = [row['test'] for index,row in testing_data5.iterrows()]
vec_w = CountVectorizer()
X_w = vec_w.fit_transform(Docs)
freq_tw5 = pd.DataFrame(X_w.toarray(), columns=vec_w.get_feature_names())
freq_tw5

   ap  burn  copies  draft  of  supporters  tbill  united
0   1     1       1      1   1           1      1       1

In [29]:
testing_data6

                              test
0  seemandhra-mps-ignore-aicc-team

In [30]:
Docs = [row['test'] for index,row in testing_data6.iterrows()]
vec_w = CountVectorizer()
X_w = vec_w.fit_transform(Docs)
freq_tw6 = pd.DataFrame(X_w.toarray(), columns=vec_w.get_feature_names())
freq_tw6

   aicc  ignore  mps  seemandhra  team
0     1       1    1           1     1

In [31]:
testing_data7

                                                test
0  sena-slams-devyanis-father-for-terming-media-c...

In [32]:
Docs = [row['test'] for index,row in testing_data7.iterrows()]
vec_w = CountVectorizer()
X_w = vec_w.fit_transform(Docs)
freq_tw7 = pd.DataFrame(X_w.toarray(), columns=vec_w.get_feature_names())
freq_tw7

   casteist  devyanis  father  for  media  sena  slams  terming
0         1         1       1    1      1     1      1        1

In [33]:
testing_data8

                                               test
0  evangelist-benny-hinns-bangalore-visit-cancelled

In [34]:
Docs = [row['test'] for index,row in testing_data8.iterrows()]
vec_w = CountVectorizer()
X_w = vec_w.fit_transform(Docs)
freq_tw8 = pd.DataFrame(X_w.toarray(), columns=vec_w.get_feature_names())
freq_tw8

   bangalore  benny  cancelled  evangelist  hinns  visit
0          1      1          1           1      1      1

In [35]:
testing_data9

                         test
0  mallika-sarabhai-joins-aap

In [36]:
Docs = [row['test'] for index,row in testing_data9.iterrows()]
vec_w = CountVectorizer()
X_w = vec_w.fit_transform(Docs)
freq_tw9 = pd.DataFrame(X_w.toarray(), columns=vec_w.get_feature_names())
freq_tw9

   aap  joins  mallika  sarabhai
0    1      1        1         1

In [37]:
testing_data10

                                      test
0  devyani-khobragade-leaves-for-india-mea

In [38]:
Docs = [row['test'] for index,row in testing_data10.iterrows()]
vec_w = CountVectorizer()
X_w = vec_w.fit_transform(Docs)
freq_tw10 = pd.DataFrame(X_w.toarray(), columns=vec_w.get_feature_names())
freq_tw10

   devyani  for  india  khobragade  leaves  mea
0        1    1      1           1       1    1

In [39]:
testing_data11

                                                test
0  deeply-regret-that-india-expelled-our-diplomat-us

In [40]:
Docs = [row['test'] for index,row in testing_data11.iterrows()]
vec_w = CountVectorizer()
X_w = vec_w.fit_transform(Docs)
freq_tw11 = pd.DataFrame(X_w.toarray(), columns=vec_w.get_feature_names())
freq_tw11

   deeply  diplomat  expelled  india  our  regret  that  us
0       1         1         1      1    1       1     1   1

In [41]:
testing_data12

                                   test
0  milkha-singhs-wife-daughter-join-aap

In [42]:
Docs = [row['test'] for index,row in testing_data12.iterrows()]
vec_w = CountVectorizer()
X_w = vec_w.fit_transform(Docs)
freq_tw12 = pd.DataFrame(X_w.toarray(), columns=vec_w.get_feature_names())
freq_tw12

   aap  daughter  join  milkha  singhs  wife
0    1         1     1       1       1     1

In [43]:
testing_data13

                                       test
0  baba-ramdev-to-begin-vote-for-modi-yatra

In [44]:
Docs = [row['test'] for index,row in testing_data13.iterrows()]
vec_w = CountVectorizer()
X_w = vec_w.fit_transform(Docs)
freq_tw13 = pd.DataFrame(X_w.toarray(), columns=vec_w.get_feature_names())
freq_tw13

   baba  begin  for  modi  ramdev  to  vote  yatra
0     1      1    1     1       1   1     1      1

In [45]:
testing_data14

                                 test
0  bhutan-king-arrives-on-5-day-visit

In [46]:
Docs = [row['test'] for index,row in testing_data14.iterrows()]
vec_w = CountVectorizer()
X_w = vec_w.fit_transform(Docs)
freq_tw14 = pd.DataFrame(X_w.toarray(), columns=vec_w.get_feature_names())
freq_tw14

   arrives  bhutan  day  king  on  visit
0        1       1    1     1   1      1

In [47]:
testing_data15

                                                test
0  bjp-launches-drive-for-donations-to-modi-for-p...

In [48]:
Docs = [row['test'] for index,row in testing_data15.iterrows()]
vec_w = CountVectorizer()
X_w = vec_w.fit_transform(Docs)
freq_tw15 = pd.DataFrame(X_w.toarray(), columns=vec_w.get_feature_names())
freq_tw15

   bjp  donations  drive  for  fund  launches  modi  pm  to
0    1          1      1    2     1         1     1   1   1

In [49]:
import math

In [50]:
print(test1)
print()
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''

no_punc1 = ""
for char1 in test1:
    if char1 not in punctuations:
        no_punc1 = no_punc1 + char1
    else:
        no_punc1 += ' '

words = no_punc1.split()
for i in words:
    print(i)
print()

prob_i=[]
for word in words:
    if word not in freq_i.keys():
        count = 0
        prob_i.append((count + 1) / (total_cnts_features_i + total_features))
    else:
        count = freq_i[word]
        prob_i.append((count + 1) / (total_cnts_features_i + total_features))

sum_i = 1
for i in range(0, len(prob_i)):
    sum_i = sum_i * prob_i[i]

prob_b=[]
for word in words:
    if word not in freq_b.keys():
        count = 0
        prob_b.append((count + 1) / (total_cnts_features_b + total_features))
    else:
        count = freq_b[word]
        prob_b.append((count + 1) / (total_cnts_features_b + total_features))

sum_b = 1
for i in range(0, len(prob_b)):
    sum_b = sum_b * prob_b[i]

prob_o=[]
for word in words:
    if word not in freq_o.keys():
        count = 0
        prob_o.append((count + 1) / (total_cnts_features_o + total_features))
    else:
        count = freq_o[word]
        prob_o.append((count + 1) / (total_cnts_features_o + total_features))

sum_o = 1
for i in range(0, len(prob_o)):
    sum_o = sum_o * prob_o[i]
print("log(Prob(India|test1)) =",math.log(sum_i*p_india))
print("log(Prob(Bangladesh|test1)) =",math.log(sum_b*p_bangladesh))
print("log(Prob(Others|test1)) =",math.log(sum_o*p_others))

sheikh-hasina-keeps-home-foreign-affairs-defence-portfolios

sheikh
hasina
keeps
home
foreign
affairs
defence
portfolios

log(Prob(India|test1)) = -39.70670419399658
log(Prob(Bangladesh|test1)) = -36.654158684118535
log(Prob(Others|test1)) = -37.64968139057033

In [51]:
print(test2)
print()
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''

no_punc1 = ""
for char1 in test2:
    if char1 not in punctuations:
        no_punc1 = no_punc1 + char1
    else:
        no_punc1 += ' '

words = no_punc1.split()
for i in words:
    print(i)
print()

prob_i=[]
for word in words:
    if word not in freq_i.keys():
        count = 0
        prob_i.append((count + 1) / (total_cnts_features_i + total_features))
    else:
        count = freq_i[word]
        prob_i.append((count + 1) / (total_cnts_features_i + total_features))

sum_i = 1
for i in range(0, len(prob_i)):
    sum_i = sum_i * prob_i[i]

prob_b=[]
for word in words:
    if word not in freq_b.keys():
        count = 0
        prob_b.append((count + 1) / (total_cnts_features_b + total_features))
    else:
        count = freq_b[word]
        prob_b.append((count + 1) / (total_cnts_features_b + total_features))

sum_b = 1
for i in range(0, len(prob_b)):
    sum_b = sum_b * prob_b[i]

prob_o=[]
for word in words:
    if word not in freq_o.keys():
        count = 0
        prob_o.append((count + 1) / (total_cnts_features_o + total_features))
    else:
        count = freq_o[word]
        prob_o.append((count + 1) / (total_cnts_features_o + total_features))

sum_o = 1
for i in range(0, len(prob_o)):
    sum_o = sum_o * prob_o[i]
print("log(Prob(India|test2)) =",math.log(sum_i*p_india))
print("log(Prob(Bangladesh|test2)) =",math.log(sum_b*p_bangladesh))
print("log(Prob(Others|test2)) =",math.log(sum_o*p_others))

hasina-ready-to-protect-democracy

hasina
ready
to
protect
democracy

log(Prob(India|test2)) = -23.870127248120315
log(Prob(Bangladesh|test2)) = -22.992528009316914
log(Prob(Others|test2)) = -24.286639501809805

In [52]:
print(test3)
print()
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''

no_punc1 = ""
for char1 in test3:
    if char1 not in punctuations:
        no_punc1 = no_punc1 + char1
    else:
        no_punc1 += ' '

words = no_punc1.split()
for i in words:
    print(i)
print()

prob_i=[]
for word in words:
    if word not in freq_i.keys():
        count = 0
        prob_i.append((count + 1) / (total_cnts_features_i + total_features))
    else:
        count = freq_i[word]
        prob_i.append((count + 1) / (total_cnts_features_i + total_features))

sum_i = 1
for i in range(0, len(prob_i)):
    sum_i = sum_i * prob_i[i]

prob_b=[]
for word in words:
    if word not in freq_b.keys():
        count = 0
        prob_b.append((count + 1) / (total_cnts_features_b + total_features))
    else:
        count = freq_b[word]
        prob_b.append((count + 1) / (total_cnts_features_b + total_features))

sum_b = 1
for i in range(0, len(prob_b)):
    sum_b = sum_b * prob_b[i]

prob_o=[]
for word in words:
    if word not in freq_o.keys():
        count = 0
        prob_o.append((count + 1) / (total_cnts_features_o + total_features))
    else:
        count = freq_o[word]
        prob_o.append((count + 1) / (total_cnts_features_o + total_features))

sum_o = 1
for i in range(0, len(prob_o)):
    sum_o = sum_o * prob_o[i]
print("log(Prob(India|test3)) =",math.log(sum_i*p_india))
print("log(Prob(Bangladesh|test3)) =",math.log(sum_b*p_bangladesh))
print("log(Prob(Others|test3)) =",math.log(sum_o*p_others))

agusta-gets-stay-on-india-encashing-bank-guarantee

agusta
gets
stay
on
india
encashing
bank
guarantee

log(Prob(India|test3)) = -38.32040983287669
log(Prob(Bangladesh|test3)) = -38.04045304523843
log(Prob(Others|test3)) = -36.95653421001038

In [53]:
print(test4)
print()
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''

no_punc1 = ""
for char1 in test4:
    if char1 not in punctuations:
        no_punc1 = no_punc1 + char1
    else:
        no_punc1 += ' '

words = no_punc1.split()
for i in words:
    print(i)
print()

prob_i=[]
for word in words:
    if word not in freq_i.keys():
        count = 0
        prob_i.append((count + 1) / (total_cnts_features_i + total_features))
    else:
        count = freq_i[word]
        prob_i.append((count + 1) / (total_cnts_features_i + total_features))

sum_i = 1
for i in range(0, len(prob_i)):
    sum_i = sum_i * prob_i[i]

prob_b=[]
for word in words:
    if word not in freq_b.keys():
        count = 0
        prob_b.append((count + 1) / (total_cnts_features_b + total_features))
    else:
        count = freq_b[word]
        prob_b.append((count + 1) / (total_cnts_features_b + total_features))

sum_b = 1
for i in range(0, len(prob_b)):
    sum_b = sum_b * prob_b[i]

prob_o=[]
for word in words:
    if word not in freq_o.keys():
        count = 0
        prob_o.append((count + 1) / (total_cnts_features_o + total_features))
    else:
        count = freq_o[word]
        prob_o.append((count + 1) / (total_cnts_features_o + total_features))

sum_o = 1
for i in range(0, len(prob_o)):
    sum_o = sum_o * prob_o[i]
print("log(Prob(India|test4)) =",math.log(sum_i*p_india))
print("log(Prob(Bangladesh|test4)) =",math.log(sum_b*p_bangladesh))
print("log(Prob(Others|test4)) =",math.log(sum_o*p_others))

modi-nervous-over-aaps-emergence-congress

modi
nervous
over
aaps
emergence
congress

log(Prob(India|test4)) = -28.495100061404585
log(Prob(Bangladesh|test4)) = -28.932699262037346
log(Prob(Others|test4)) = -28.74098679806331

In [54]:
print(test5)
print()
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''

no_punc1 = ""
for char1 in test5:
    if char1 not in punctuations:
        no_punc1 = no_punc1 + char1
    else:
        no_punc1 += ' '

words = no_punc1.split()
for i in words:
    print(i)
print()

prob_i=[]
for word in words:
    if word not in freq_i.keys():
        count = 0
        prob_i.append((count + 1) / (total_cnts_features_i + total_features))
    else:
        count = freq_i[word]
        prob_i.append((count + 1) / (total_cnts_features_i + total_features))

sum_i = 1
for i in range(0, len(prob_i)):
    sum_i = sum_i * prob_i[i]

prob_b=[]
for word in words:
    if word not in freq_b.keys():
        count = 0
        prob_b.append((count + 1) / (total_cnts_features_b + total_features))
    else:
        count = freq_b[word]
        prob_b.append((count + 1) / (total_cnts_features_b + total_features))

sum_b = 1
for i in range(0, len(prob_b)):
    sum_b = sum_b * prob_b[i]

prob_o=[]
for word in words:
    if word not in freq_o.keys():
        count = 0
        prob_o.append((count + 1) / (total_cnts_features_o + total_features))
    else:
        count = freq_o[word]
        prob_o.append((count + 1) / (total_cnts_features_o + total_features))

sum_o = 1
for i in range(0, len(prob_o)):
    sum_o = sum_o * prob_o[i]
print("log(Prob(India|test5)) =",math.log(sum_i*p_india))
print("log(Prob(Bangladesh|test5)) =",math.log(sum_b*p_bangladesh))
print("log(Prob(Others|test5)) =",math.log(sum_o*p_others))

united-ap-supporters-burn-copies-of-draft-tbill

united
ap
supporters
burn
copies
of
draft
tbill

log(Prob(India|test5)) = -38.32040983287669
log(Prob(Bangladesh|test5)) = -38.04045304523843
log(Prob(Others|test5)) = -37.64968139057033

In [55]:
print(test6)
print()
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''

no_punc1 = ""
for char1 in test6:
    if char1 not in punctuations:
        no_punc1 = no_punc1 + char1
    else:
        no_punc1 += ' '

words = no_punc1.split()
for i in words:
    print(i)
print()

prob_i=[]
for word in words:
    if word not in freq_i.keys():
        count = 0
        prob_i.append((count + 1) / (total_cnts_features_i + total_features))
    else:
        count = freq_i[word]
        prob_i.append((count + 1) / (total_cnts_features_i + total_features))

sum_i = 1
for i in range(0, len(prob_i)):
    sum_i = sum_i * prob_i[i]

prob_b=[]
for word in words:
    if word not in freq_b.keys():
        count = 0
        prob_b.append((count + 1) / (total_cnts_features_b + total_features))
    else:
        count = freq_b[word]
        prob_b.append((count + 1) / (total_cnts_features_b + total_features))

sum_b = 1
for i in range(0, len(prob_b)):
    sum_b = sum_b * prob_b[i]

prob_o=[]
for word in words:
    if word not in freq_o.keys():
        count = 0
        prob_o.append((count + 1) / (total_cnts_features_o + total_features))
    else:
        count = freq_o[word]
        prob_o.append((count + 1) / (total_cnts_features_o + total_features))

sum_o = 1
for i in range(0, len(prob_o)):
    sum_o = sum_o * prob_o[i]
print("log(Prob(India|test6)) =",math.log(sum_i*p_india))
print("log(Prob(Bangladesh|test6)) =",math.log(sum_b*p_bangladesh))
print("log(Prob(Others|test6)) =",math.log(sum_o*p_others))

seemandhra-mps-ignore-aicc-team

seemandhra
mps
ignore
aicc
team

log(Prob(India|test6)) = -24.27559235622848
log(Prob(Bangladesh|test6)) = -24.378822370436804
log(Prob(Others|test6)) = -24.286639501809805

In [56]:
print(test7)
print()
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''

no_punc1 = ""
for char1 in test7:
    if char1 not in punctuations:
        no_punc1 = no_punc1 + char1
    else:
        no_punc1 += ' '

words = no_punc1.split()
for i in words:
    print(i)
print()

prob_i=[]
for word in words:
    if word not in freq_i.keys():
        count = 0
        prob_i.append((count + 1) / (total_cnts_features_i + total_features))
    else:
        count = freq_i[word]
        prob_i.append((count + 1) / (total_cnts_features_i + total_features))

sum_i = 1
for i in range(0, len(prob_i)):
    sum_i = sum_i * prob_i[i]

prob_b=[]
for word in words:
    if word not in freq_b.keys():
        count = 0
        prob_b.append((count + 1) / (total_cnts_features_b + total_features))
    else:
        count = freq_b[word]
        prob_b.append((count + 1) / (total_cnts_features_b + total_features))

sum_b = 1
for i in range(0, len(prob_b)):
    sum_b = sum_b * prob_b[i]

prob_o=[]
for word in words:
    if word not in freq_o.keys():
        count = 0
        prob_o.append((count + 1) / (total_cnts_features_o + total_features))
    else:
        count = freq_o[word]
        prob_o.append((count + 1) / (total_cnts_features_o + total_features))

sum_o = 1
for i in range(0, len(prob_o)):
    sum_o = sum_o * prob_o[i]
print("log(Prob(India|test7)) =",math.log(sum_i*p_india))
print("log(Prob(Bangladesh|test7)) =",math.log(sum_b*p_bangladesh))
print("log(Prob(Others|test7)) =",math.log(sum_o*p_others))

sena-slams-devyanis-father-for-terming-media-casteist

sena
slams
devyanis
father
for
terming
media
casteist

log(Prob(India|test7)) = -38.60809190532847
log(Prob(Bangladesh|test7)) = -38.04045304523843
log(Prob(Others|test7)) = -37.64968139057033

In [57]:
print(test8)
print()
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''

no_punc1 = ""
for char1 in test8:
    if char1 not in punctuations:
        no_punc1 = no_punc1 + char1
    else:
        no_punc1 += ' '

words = no_punc1.split()
for i in words:
    print(i)
print()

prob_i=[]
for word in words:
    if word not in freq_i.keys():
        count = 0
        prob_i.append((count + 1) / (total_cnts_features_i + total_features))
    else:
        count = freq_i[word]
        prob_i.append((count + 1) / (total_cnts_features_i + total_features))

sum_i = 1
for i in range(0, len(prob_i)):
    sum_i = sum_i * prob_i[i]

prob_b=[]
for word in words:
    if word not in freq_b.keys():
        count = 0
        prob_b.append((count + 1) / (total_cnts_features_b + total_features))
    else:
        count = freq_b[word]
        prob_b.append((count + 1) / (total_cnts_features_b + total_features))

sum_b = 1
for i in range(0, len(prob_b)):
    sum_b = sum_b * prob_b[i]

prob_o=[]
for word in words:
    if word not in freq_o.keys():
        count = 0
        prob_o.append((count + 1) / (total_cnts_features_o + total_features))
    else:
        count = freq_o[word]
        prob_o.append((count + 1) / (total_cnts_features_o + total_features))

sum_o = 1
for i in range(0, len(prob_o)):
    sum_o = sum_o * prob_o[i]
print("log(Prob(India|test8)) =",math.log(sum_i*p_india))
print("log(Prob(Bangladesh|test8)) =",math.log(sum_b*p_bangladesh))
print("log(Prob(Others|test8)) =",math.log(sum_o*p_others))

evangelist-benny-hinns-bangalore-visit-cancelled

evangelist
benny
hinns
bangalore
visit
cancelled

log(Prob(India|test8)) = -29.881394422524476
log(Prob(Bangladesh|test8)) = -28.932699262037346
log(Prob(Others|test8)) = -28.047839617503367

In [58]:
print(test9)
print()
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''

no_punc1 = ""
for char1 in test9:
    if char1 not in punctuations:
        no_punc1 = no_punc1 + char1
    else:
        no_punc1 += ' '

words = no_punc1.split()
for i in words:
    print(i)
print()

prob_i=[]
for word in words:
    if word not in freq_i.keys():
        count = 0
        prob_i.append((count + 1) / (total_cnts_features_i + total_features))
    else:
        count = freq_i[word]
        prob_i.append((count + 1) / (total_cnts_features_i + total_features))

sum_i = 1
for i in range(0, len(prob_i)):
    sum_i = sum_i * prob_i[i]

prob_b=[]
for word in words:
    if word not in freq_b.keys():
        count = 0
        prob_b.append((count + 1) / (total_cnts_features_b + total_features))
    else:
        count = freq_b[word]
        prob_b.append((count + 1) / (total_cnts_features_b + total_features))

sum_b = 1
for i in range(0, len(prob_b)):
    sum_b = sum_b * prob_b[i]

prob_o=[]
for word in words:
    if word not in freq_o.keys():
        count = 0
        prob_o.append((count + 1) / (total_cnts_features_o + total_features))
    else:
        count = freq_o[word]
        prob_o.append((count + 1) / (total_cnts_features_o + total_features))

sum_o = 1
for i in range(0, len(prob_o)):
    sum_o = sum_o * prob_o[i]
print("log(Prob(India|test9)) =",math.log(sum_i*p_india))
print("log(Prob(Bangladesh|test9)) =",math.log(sum_b*p_bangladesh))
print("log(Prob(Others|test9)) =",math.log(sum_o*p_others))

mallika-sarabhai-joins-aap

mallika
sarabhai
joins
aap

log(Prob(India|test9)) = -18.26432518182432
log(Prob(Bangladesh|test9)) = -19.824945478836263
log(Prob(Others|test9)) = -19.832292205556296

In [59]:
print(test10)
print()
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''

no_punc1 = ""
for char1 in test10:
    if char1 not in punctuations:
        no_punc1 = no_punc1 + char1
    else:
        no_punc1 += ' '

words = no_punc1.split()
for i in words:
    print(i)
print()

prob_i=[]
for word in words:
    if word not in freq_i.keys():
        count = 0
        prob_i.append((count + 1) / (total_cnts_features_i + total_features))
    else:
        count = freq_i[word]
        prob_i.append((count + 1) / (total_cnts_features_i + total_features))

sum_i = 1
for i in range(0, len(prob_i)):
    sum_i = sum_i * prob_i[i]

prob_b=[]
for word in words:
    if word not in freq_b.keys():
        count = 0
        prob_b.append((count + 1) / (total_cnts_features_b + total_features))
    else:
        count = freq_b[word]
        prob_b.append((count + 1) / (total_cnts_features_b + total_features))

sum_b = 1
for i in range(0, len(prob_b)):
    sum_b = sum_b * prob_b[i]

prob_o=[]
for word in words:
    if word not in freq_o.keys():
        count = 0
        prob_o.append((count + 1) / (total_cnts_features_o + total_features))
    else:
        count = freq_o[word]
        prob_o.append((count + 1) / (total_cnts_features_o + total_features))

sum_o = 1
for i in range(0, len(prob_o)):
    sum_o = sum_o * prob_o[i]
print("log(Prob(India|test10)) =",math.log(sum_i*p_india))
print("log(Prob(Bangladesh|test10)) =",math.log(sum_b*p_bangladesh))
print("log(Prob(Others|test10)) =",math.log(sum_o*p_others))

devyani-khobragade-leaves-for-india-mea

devyani
khobragade
leaves
for
india
mea

log(Prob(India|test10)) = -28.08963495329642
log(Prob(Bangladesh|test10)) = -28.932699262037346
log(Prob(Others|test10)) = -28.74098679806331

In [60]:
print(test11)
print()
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''

no_punc1 = ""
for char1 in test11:
    if char1 not in punctuations:
        no_punc1 = no_punc1 + char1
    else:
        no_punc1 += ' '

words = no_punc1.split()
for i in words:
    print(i)
print()

prob_i=[]
for word in words:
    if word not in freq_i.keys():
        count = 0
        prob_i.append((count + 1) / (total_cnts_features_i + total_features))
    else:
        count = freq_i[word]
        prob_i.append((count + 1) / (total_cnts_features_i + total_features))

sum_i = 1
for i in range(0, len(prob_i)):
    sum_i = sum_i * prob_i[i]

prob_b=[]
for word in words:
    if word not in freq_b.keys():
        count = 0
        prob_b.append((count + 1) / (total_cnts_features_b + total_features))
    else:
        count = freq_b[word]
        prob_b.append((count + 1) / (total_cnts_features_b + total_features))

sum_b = 1
for i in range(0, len(prob_b)):
    sum_b = sum_b * prob_b[i]

prob_o=[]
for word in words:
    if word not in freq_o.keys():
        count = 0
        prob_o.append((count + 1) / (total_cnts_features_o + total_features))
    else:
        count = freq_o[word]
        prob_o.append((count + 1) / (total_cnts_features_o + total_features))

sum_o = 1
for i in range(0, len(prob_o)):
    sum_o = sum_o * prob_o[i]
print("log(Prob(India|test11)) =",math.log(sum_i*p_india))
print("log(Prob(Bangladesh|test11)) =",math.log(sum_b*p_bangladesh))
print("log(Prob(Others|test11)) =",math.log(sum_o*p_others))

deeply-regret-that-india-expelled-our-diplomat-us

deeply
regret
that
india
expelled
our
diplomat
us

log(Prob(India|test11)) = -39.01355701343663
log(Prob(Bangladesh|test11)) = -38.04045304523843
log(Prob(Others|test11)) = -37.64968139057033

In [61]:
print(test12)
print()
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''

no_punc1 = ""
for char1 in test12:
    if char1 not in punctuations:
        no_punc1 = no_punc1 + char1
    else:
        no_punc1 += ' '

words = no_punc1.split()
for i in words:
    print(i)
print()

prob_i=[]
for word in words:
    if word not in freq_i.keys():
        count = 0
        prob_i.append((count + 1) / (total_cnts_features_i + total_features))
    else:
        count = freq_i[word]
        prob_i.append((count + 1) / (total_cnts_features_i + total_features))

sum_i = 1
for i in range(0, len(prob_i)):
    sum_i = sum_i * prob_i[i]

prob_b=[]
for word in words:
    if word not in freq_b.keys():
        count = 0
        prob_b.append((count + 1) / (total_cnts_features_b + total_features))
    else:
        count = freq_b[word]
        prob_b.append((count + 1) / (total_cnts_features_b + total_features))

sum_b = 1
for i in range(0, len(prob_b)):
    sum_b = sum_b * prob_b[i]

prob_o=[]
for word in words:
    if word not in freq_o.keys():
        count = 0
        prob_o.append((count + 1) / (total_cnts_features_o + total_features))
    else:
        count = freq_o[word]
        prob_o.append((count + 1) / (total_cnts_features_o + total_features))

sum_o = 1
for i in range(0, len(prob_o)):
    sum_o = sum_o * prob_o[i]
print("log(Prob(India|test12)) =",math.log(sum_i*p_india))
print("log(Prob(Bangladesh|test12)) =",math.log(sum_b*p_bangladesh))
print("log(Prob(Others|test12)) =",math.log(sum_o*p_others))

milkha-singhs-wife-daughter-join-aap

milkha
singhs
wife
daughter
join
aap

log(Prob(India|test12)) = -28.782782133856365
log(Prob(Bangladesh|test12)) = -28.932699262037346
log(Prob(Others|test12)) = -28.74098679806331

In [62]:
print(test13)
print()
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''

no_punc1 = ""
for char1 in test13:
    if char1 not in punctuations:
        no_punc1 = no_punc1 + char1
    else:
        no_punc1 += ' '

words = no_punc1.split()
for i in words:
    print(i)
print()

prob_i=[]
for word in words:
    if word not in freq_i.keys():
        count = 0
        prob_i.append((count + 1) / (total_cnts_features_i + total_features))
    else:
        count = freq_i[word]
        prob_i.append((count + 1) / (total_cnts_features_i + total_features))

sum_i = 1
for i in range(0, len(prob_i)):
    sum_i = sum_i * prob_i[i]

prob_b=[]
for word in words:
    if word not in freq_b.keys():
        count = 0
        prob_b.append((count + 1) / (total_cnts_features_b + total_features))
    else:
        count = freq_b[word]
        prob_b.append((count + 1) / (total_cnts_features_b + total_features))

sum_b = 1
for i in range(0, len(prob_b)):
    sum_b = sum_b * prob_b[i]

prob_o=[]
for word in words:
    if word not in freq_o.keys():
        count = 0
        prob_o.append((count + 1) / (total_cnts_features_o + total_features))
    else:
        count = freq_o[word]
        prob_o.append((count + 1) / (total_cnts_features_o + total_features))

sum_o = 1
for i in range(0, len(prob_o)):
    sum_o = sum_o * prob_o[i]
print("log(Prob(India|test13)) =",math.log(sum_i*p_india))
print("log(Prob(Bangladesh|test13)) =",math.log(sum_b*p_bangladesh))
print("log(Prob(Others|test13)) =",math.log(sum_o*p_others))

baba-ramdev-to-begin-vote-for-modi-yatra

baba
ramdev
to
begin
vote
for
modi
yatra

log(Prob(India|test13)) = -35.43003807498052
log(Prob(Bangladesh|test13)) = -37.34730586467848
log(Prob(Others|test13)) = -37.64968139057033

In [63]:
print(test14)
print()
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''

no_punc1 = ""
for char1 in test14:
    if char1 not in punctuations:
        no_punc1 = no_punc1 + char1
    else:
        no_punc1 += ' '

words = no_punc1.split()
for i in words:
    print(i)
print()

prob_i=[]
for word in words:
    if word not in freq_i.keys():
        count = 0
        prob_i.append((count + 1) / (total_cnts_features_i + total_features))
    else:
        count = freq_i[word]
        prob_i.append((count + 1) / (total_cnts_features_i + total_features))

sum_i = 1
for i in range(0, len(prob_i)):
    sum_i = sum_i * prob_i[i]

prob_b=[]
for word in words:
    if word not in freq_b.keys():
        count = 0
        prob_b.append((count + 1) / (total_cnts_features_b + total_features))
    else:
        count = freq_b[word]
        prob_b.append((count + 1) / (total_cnts_features_b + total_features))

sum_b = 1
for i in range(0, len(prob_b)):
    sum_b = sum_b * prob_b[i]

prob_o=[]
for word in words:
    if word not in freq_o.keys():
        count = 0
        prob_o.append((count + 1) / (total_cnts_features_o + total_features))
    else:
        count = freq_o[word]
        prob_o.append((count + 1) / (total_cnts_features_o + total_features))

sum_o = 1
for i in range(0, len(prob_o)):
    sum_o = sum_o * prob_o[i]
print("log(Prob(India|test14)) =",math.log(sum_i*p_india))
print("log(Prob(Bangladesh|test14)) =",math.log(sum_b*p_bangladesh))
print("log(Prob(Others|test14)) =",math.log(sum_o*p_others))

bhutan-king-arrives-on-5-day-visit

bhutan
king
arrives
on
5
day
visit

log(Prob(India|test14)) = -34.794049308260526
log(Prob(Bangladesh|test14)) = -33.486576153637884
log(Prob(Others|test14)) = -29.036451010957148

In [64]:
print(test15)
print()
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''

no_punc1 = ""
for char1 in test15:
    if char1 not in punctuations:
        no_punc1 = no_punc1 + char1
    else:
        no_punc1 += ' '

words = no_punc1.split()
for i in words:
    print(i)
print()

prob_i=[]
for word in words:
    if word not in freq_i.keys():
        count = 0
        prob_i.append((count + 1) / (total_cnts_features_i + total_features))
    else:
        count = freq_i[word]
        prob_i.append((count + 1) / (total_cnts_features_i + total_features))

sum_i = 1
for i in range(0, len(prob_i)):
    sum_i = sum_i * prob_i[i]

prob_b=[]
for word in words:
    if word not in freq_b.keys():
        count = 0
        prob_b.append((count + 1) / (total_cnts_features_b + total_features))
    else:
        count = freq_b[word]
        prob_b.append((count + 1) / (total_cnts_features_b + total_features))

sum_b = 1
for i in range(0, len(prob_b)):
    sum_b = sum_b * prob_b[i]

prob_o=[]
for word in words:
    if word not in freq_o.keys():
        count = 0
        prob_o.append((count + 1) / (total_cnts_features_o + total_features))
    else:
        count = freq_o[word]
        prob_o.append((count + 1) / (total_cnts_features_o + total_features))

sum_o = 1
for i in range(0, len(prob_o)):
    sum_o = sum_o * prob_o[i]
print("log(Prob(India|test15)) =",math.log(sum_i*p_india))
print("log(Prob(Bangladesh|test15)) =",math.log(sum_b*p_bangladesh))
print("log(Prob(Others|test15)) =",math.log(sum_o*p_others))

bjp-launches-drive-for-donations-to-modi-for-pm-fund

bjp
launches
drive
for
donations
to
modi
for
pm
fund

log(Prob(India|test15)) = -43.751270449676355
log(Prob(Bangladesh|test15)) = -46.455059647879565
log(Prob(Others|test15)) = -46.55837598307734

In [65]:
column2 = ['log(Prob(India|test[i]))','log(Prob(Bangladesh|test[i]))','log(Prob(Others|test[i]))']
rowsLP = [[-39.70670419399658,-36.654158684118535,-37.64968139057033],
          [-23.870127248120315,-22.992528009316914,-24.286639501809805],
          [-38.32040983287669,-38.04045304523843,-36.95653421001038],
          [-28.495100061404585,-28.932699262037346,-28.74098679806331],
          [-38.32040983287669,-38.04045304523843,-37.64968139057033],
          [-24.27559235622848,-24.378822370436804,-24.286639501809805],
          [-38.60809190532847,-38.04045304523843,-37.64968139057033],
          [-29.881394422524476,-28.932699262037346,-28.047839617503367],
          [-18.26432518182432,-19.824945478836263,-19.832292205556296],
          [-28.08963495329642,-28.932699262037346,-28.74098679806331],
          [-39.01355701343663,-38.04045304523843,-37.64968139057033],
          [-28.782782133856365,-28.932699262037346,-28.74098679806331],
          [-35.43003807498052,-37.34730586467848,-37.64968139057033],
          [-34.794049308260526,-33.486576153637884,-29.036451010957148],
          [-43.751270449676355,-46.455059647879565,-46.55837598307734]]

In [66]:
results = pd.DataFrame(rowsLP, columns=column2)
results.style

In [67]:
def style_negative(v, props=''):
    for i in range(0,15):
        return props if v < 0 else None
s2 = results.style.applymap(style_negative, props='color:red;')

In [68]:
import numpy as np
def highlight_max(s, props=''):
    return np.where(s == np.nanmax(s.values), props, '')
s2.apply(highlight_max, props='color:black;background-color:lightgrey;border:dotted-line;border-color:white;', axis=1)

In [69]:
column3 = ['test','class','log(Prob(class|test))']
rowsA = [['sheikh-hasina-keeps-home-foreign-affairs-defence-portfolios', 'Bangladesh',-36.654159], 
 ['hasina-ready-to-protect-democracy', 'Bangladesh',-22.992528],
 ['agusta-gets-stay-on-india-encashing-bank-guarantee', 'Others',-36.956534],
 ['modi-nervous-over-aaps-emergence-congress', 'India',-28.495100],
 ['united-ap-supporters-burn-copies-of-draft-tbill', 'Others',-37.649681],
 ['seemandhra-mps-ignore-aicc-team', 'India',-24.275592],
 ['sena-slams-devyanis-father-for-terming-media-casteist', 'Others',-37.649681],
 ['evangelist-benny-hinns-bangalore-visit-cancelled', 'Others',-28.047840],
 ['mallika-sarabhai-joins-aap', 'India',-18.264325],
 ['devyani-khobragade-leaves-for-india-mea', 'India',-28.089635],
 ['deeply-regret-that-india-expelled-our-diplomat-us', 'Others',-37.649681],
 ['milkha-singhs-wife-daughter-join-aap', 'Others',-28.740987],
 ['baba-ramdev-to-begin-vote-for-modi-yatra', 'India',-35.430038],
 ['bhutan-king-arrives-on-5-day-visit', 'Others',-29.036451],
 ['bjp-launches-drive-for-donations-to-modi-for-pm-fund', 'India',-43.751270]]

In [70]:
testing_data = pd.DataFrame(rowsA, columns=column3)
testing_data

,test,class,log(Prob(class|test))
0,sheikh-hasina-keeps-home-foreign-affairs-defen...,Bangladesh,-36.654159
1,hasina-ready-to-protect-democracy,Bangladesh,-22.992528
2,agusta-gets-stay-on-india-encashing-bank-guara...,Others,-36.956534
3,modi-nervous-over-aaps-emergence-congress,India,-28.495100
4,united-ap-supporters-burn-copies-of-draft-tbill,Others,-37.649681
5,seemandhra-mps-ignore-aicc-team,India,-24.275592
6,sena-slams-devyanis-father-for-terming-media-c...,Others,-37.649681
7,evangelist-benny-hinns-bangalore-visit-cancelled,Others,-28.047840
8,mallika-sarabhai-joins-aap,India,-18.264325
9,devyani-khobragade-leaves-for-india-mea,India,-28.089635
10,deeply-regret-that-india-expelled-our-diplomat-us,Others,-37.649681
11,milkha-singhs-wife-daughter-join-aap,Others,-28.740987
12,baba-ramdev-to-begin-vote-for-modi-yatra,India,-35.430038
13,bhutan-king-arrives-on-5-day-visit,Others,-29.036451
14,bjp-launches-drive-for-donations-to-modi-for-p...,India,-43.751270